@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}


/* text linear gradient  */

    .gradient-text {
      /* background: linear-gradient(to right, #0318dd, #ffffff); */
      /* background: linear-gradient(-90deg,#2b8d64 0,#35c3ff 30%,#ffffff 50%,#76d880 70%,#ebf38b 90%,#a19fbd 100%); */
      background: linear-gradient(-90deg,#2b8d64 0,#35c3ff 30%,#ffffff 50%,#6c93e7 70%,#ebf38b 90%,#a19fbd 100%);
      -webkit-background-clip: text; /* Apply gradient to text in WebKit browsers */
      -webkit-text-fill-color: transparent; /* Make text color transparent to show gradient */
      background-clip: text; /* Apply gradient to text in non-WebKit browsers */
      color: transparent; /* Fallback for non-webkit browsers */
      /* filter: drop-shadow(0 0 2rem rgb(54, 14, 233)); */
    }
  